name: inGitDB

on:
  push:
  pull_request:

jobs:

  Validator:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v6

#      - name: inGitDB action
#        uses: ingitdb/ingitdb-action
